<form class="login-form" [formGroup]="loginForm">
  <div class="header">
    <p>Log in</p>
  </div>
  <div class="form-group">
    <label for="email">Username or email</label>
    <input type="text" class="form-control" id="email" placeholder="Username or email" formControlName="email"/>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="text" class="form-control" id="password" placeholder="Password" formControlName="password">
  </div>
  <div class="remember-me-section">
    <div><span class="remember-me">Remember me</span><input type="checkbox"></div>
    <a href="#">Forgot Password?</a>
  </div>
  <div class="login-wrapper">
    <button type="submit" class="login-button">Log in</button>
  </div>
  <div class="providers-wrapper">
    <span class="providers-description">Or continue with</span>
    <div class="providers-list">
      <button class="provider-button">
        <img src="./assets/images/google.png" />
      </button>
      <button class="provider-button">
        <img src="./assets/images/facebook.png" />
      </button>
      <button class="provider-button">
        <img src="./assets/images/apple-logo.png" />
      </button>
    </div>
    <div class="create-account-wrapper">
      <span>New to Fitness Army? <a>Create an account</a>.</span>
    </div>
  </div>
</form>
